{% extends "layout.jinja2" %}
{% block main %}
  <h1>Find Videos</h1>

  <form class="well"
        data-bind="submit: perform_search, enable: perform_search_enabled">
    <div class="row">
      <div class="col-md-10">
        <input id="add_torrent_field" data-bind="value: search_text" type="text"
               class="form-control"
               placeholder="Search text" autofocus=""/>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary"
                data-bind="enable: perform_search_enabled"
                type="submit" style="width: 100%">
          <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;
          Search
        </button>
      </div>
    </div>
    &nbsp;
    <div class="container-fluid">
      <label class="checkbox-inline"><input type="radio" name="media-type"
                                            data-bind="checked: search_type"
                                            value="movies"/> Movies</label>
      <label class="checkbox-inline"><input type="radio" name="media-type"
                                            data-bind="checked: search_type"
                                            value="tvshows"/> TV Shows</label>
      <label class="checkbox-inline"><input type="radio" name="media-type"
                                            data-bind="checked: search_type"
                                            value="music"/> Music</label>
    </div>
  </form>

        <div class="item-listing">
          <h3>Search Results</h3>
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th class="icon"></th>
              <th class="name">Name</th>
              <th class="media-info">Media Info</th>
              <th class="size">Size</th>
              <th class="actions"></th>
            </tr>
            </thead>
            <tbody>
            <!-- ko foreach: matches -->
            <tr>
              <td></td>
              <td data-bind="text: name"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <!-- /ko -->
  </tbody>
  </table>
  </div>

{% endblock %}

{% block body_footer %}
  <script>
    require(['rasmusmediaweb/pages/find-media'], function (find_media) {
        find_media.init();
    });
  </script>
{% endblock %}
